<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <ul>
            <li class="cars"><a href="/">Cars</a></li>
            <li><a href="/Add">Add</a></li>
            <li><a href="/List">List</a></li>
            <li><a href="/Delete">Delete</a></li>
            <li><a href="/Edit">Edit</a></li>
        </ul>

    </header>
    {{{ body }}}

</body>

</html>