<div id="container">
    <h1>add car page</h1>
    <form action="/handleForm" method="GET">
        <label><input name="Ubezpieczony" type="checkbox">Ubezpieczony</label>
        <label><input name="Benzyna" type="checkbox">Benzyna</label>
        <label><input name="uszkodzony" type="checkbox">uszkodzony</label>
        <label><input name="napęd 4x4" type="checkbox">napęd 4x4</label>
        <button>Wyślij</button>
    </form>
</div>